<template>
  <div
    v-html="svgIcon"
  />
</template>

<script>
import icons from '@/configs/icons';

export default {
  props: {
    name: {
      type: String,
      required: true
    }
  },
  computed: {
    svgIcon() {
      return icons[this.name];
    }
  }
}
</script>
