<template>
  <img
    :src="source" alt=""
  >
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      required: true
    },
    type: {
      type: String,
      default: 'png'
    }
  },
  computed: {
    source() {
      return `/icons/${this.name}.${this.type}`;
    }
  }
}
</script>
