<template>
  <div
    :style="styleHome"
    class="home min-h-screen bg-black-chinese relative"
  >
    <div class="fixed bg-black-chinese h-45 z-50 w-full top-0 py-13-5 flex flex-row justify-end items-center">
      <icon-svg
        name="icon-search"
        class="w-18 h-18 mr-10"
      />
      <div class="flex flex-col items-end">
        <span
          class="text-white-rose text-5xl font-thin"
          v-text="$moment().format('hh:ss')"
        />
        <span
          class="text-white-rose text-2xl font-light"
          v-text="$moment().format('dddd, DD-MM-YYYY')"
        />
      </div>
      <div class="flex flex-row items-center h-18 px-4 box-content border border-white-default border-dotted rounded-lg ml-8">
        <icon-svg
          name="icon-user"
          class="w-12 h-12 mr-3"
        />
        <span class="text-white-default text-4x1-1 leading-10 font-normal mr-3">&#10072;</span>
        <span
          class="text-white-default text-4x1-1 leading-10 font-normal"
          v-text="account.phone"
        />
      </div>
      <div class="flex items-center justify-center h-18 w-60 box-content border border-white-default border-dotted rounded-lg ml-6 mr-13-5">
        <span
          class="text-white-default text-2x1-1 font-medium uppercase"
          v-text="'Mua gói vip'"
        />
      </div>
    </div>
    <div class="fixed w-full h-1-45 top-45 overflow-x-hidden overflow-y-hidden">
      <div
        :style="styleFocusY"
        class="w-full"
      >
        <div class="w-full h-123">
          <h3
            class="text-3x1-2-125 leading-10 text-white-smoke pl-20-5"
            v-text="'Tìm kiếm & danh mục'"
          />
          <div
            :style="focusActive.y===0?styleFocus:{}"
            class="whitespace-nowrap mt-6 pl-20-5"
          >
            <div
              v-for="(item, index) in menuHomes"
              :key="index"
              :class="`w-112-25 h-66 inline-block mr-1 relative rounded-md border-8 ${(focusActive.x===index && focusActive.y===0)?'border-white-default':'border-black-chinese'} `"
            >
              <img
                :src="item.thumb"
                alt=""
                class="w-full h-full"
              >
            </div>
          </div>
        </div>
        <div class="w-full">
          <div
            v-for="(block, index) in groupsHome"
            :key="index"
            class="w-full mt-13-5"
          >
            <h3
              class="text-3x1-2-125 leading-10 text-white-smoke pl-20-5"
              v-text="block.title"
            />
            <div
              :style="(focusActive.y-1===index)?styleFocus:{}"
              class="whitespace-nowrap mt-6 pl-20-5"
            >
              <div
                v-for="(item,idx) in block.lists"
                :key="idx"
                :class="`w-112-5 inline-block mr-1 relative rounded-md p-2 ${(idx===focusActive.x && index===(focusActive.y-1))?'bg-white-default':'bg-transparent'}`"
              >
                <div class="w-107-5 h-60-5 mx-auto relative">
                  <img
                    :src="item.thumb"
                    alt=""
                    class="w-full h-full"
                  >
                </div>
                <div class="w-full relative overflow-y-hidden mt-3 h-18 px-2 mb-8">
                  <h4
                    :class="`text-3xl w-full text-ellipsis-2 ${(idx===focusActive.x && index===(focusActive.y-1))?'text-black-chinese':'text-white-default'}`"
                    v-text="item.title"
                  />
                  <span
                    :class="`text-2x1-1 leading-9 ${(idx===focusActive.x && index===(focusActive.y-1))?'text-black-chinese':'text-white-silver'}`"
                    v-text="'Đã kết thúc'"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import IconSvg from '@/components/IconSvg'
import dataResponse from '@/configs/dataResponse'
import { KEYMAP } from '@/configs/keymap'
let timeout

export default {
  components: { IconSvg },
  data: () => {
    return {
      account: {
        phone: '0343111611'
      },
      menuHomes: dataResponse.menuHome,
      focusActive: {
        x: 0,
        y: 0
      },
      groupsHome: dataResponse.groupsHome,
      isScrolling: false,
      scrollPosition: 0,
      lengthPx: 0
    }
  },
  computed: {
    styleFocus () {
      const index = this.focusActive.x
      if (index > 2) {
        return {
          marginLeft: `calc(-${index - 2} * 28.0625rem)`
        }
      } else {
        return {}
      }
    },
    styleFocusY () {
      const index = this.focusActive.y
      return {
        marginTop: `calc(-${index} * 30.75rem)`
      }
    },
    styleHome () {
      const lengthGroup = this.groupsHome.length
      return {
        height: `calc(11.25rem + ${lengthGroup * 30.75}rem)`
      }
    }
  },
  mounted () {
    const lengthGroup = this.groupsHome.length
    this.lengthPx = (11.25 + lengthGroup * 30.75) * 4
    document.addEventListener('keydown', this.handleKey)
    document.addEventListener('scroll', this.handleScroll)
  },
  beforeDestroy () {
    document.removeEventListener('keydown', this.handleKey)
    document.removeEventListener('scroll', this.handleScroll)
  },
  methods: {
    handleKey (event) {
      event.preventDefault()
      const itemCount = this.focusActive.y === 0 ? (this.menuHomes.length) : this.groupsHome[this.focusActive.y - 1].lists.length
      switch (KEYMAP[event.keyCode]) {
        case 'LEFT':
          if (this.focusActive.x === 0) {
            this.focusActive.x = itemCount - 1
          } else {
            this.focusActive.x--
          }
          break
        case 'RIGHT':
          if (this.focusActive.x === itemCount - 1) {
            this.focusActive.x = 0
          } else {
            this.focusActive.x++
          }
          break
        case 'UP':
          this.focusActive.x = 0
          if (this.focusActive.y === 0) {
            this.focusActive.y = this.groupsHome.length
          } else {
            this.focusActive.y--
          }
          break
        case 'DOWN':
          this.focusActive.x = 0
          if (this.focusActive.y === this.groupsHome.length) {
            this.focusActive.y = 0
          } else {
            this.focusActive.y++
          }
          break
        case 'ENTER':
          this.$router.push({
            name: 'VideoPlayer',
            params: {
              alisaID: 'vtv1'
            }
          })
          break
        default:
          break
      }
    },
    handleScroll () {
      clearTimeout(timeout)
      timeout = setTimeout(() => {
        // eslint-disable-next-line no-console
        // console.log(this.scrollPosition)
        const scrollY = window.scrollY / 16
        // eslint-disable-next-line no-console
        // console.log((scrollY - 11.25) / 30.75);
        this.focusActive.y = Math.floor((scrollY - 11.25) / 30.75)
        // console.log((scrollY - 11.25) / 30.75);
        // eslint-disable-next-line no-console
        console.log(this.focusActive.y)
        // if (this.scrollPosition < window.scrollY) {
        //   this.scrollPosition = window.scrollY
        //   this.focusActive.x = 0
        //   if (this.focusActive.y === this.groupsHome.length) {
        //     this.focusActive.y = 0
        //   } else {
        //     this.focusActive.y++
        //   }
        // } else {
        //   this.scrollPosition = window.scrollY
        //   this.focusActive.x = 0
        //   if (this.focusActive.y === 0) {
        //     this.focusActive.y = this.groupsHome.length
        //   } else {
        //     this.focusActive.y--
        //   }
        // }
        // eslint-disable-next-line no-console
        // console.log(this.focusActive.y)
      }, 100)
    }
  }
}
</script>
